.movieCard {
    padding: 16px;
    margin: 8px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieAvatar {
    margin: 8px;
    width: 280px !important;
    height: 280px !important;
}

.movieInfo {
    margin-top: 12px;
    width: 100%;
}

.movieTitle {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.moviePosition {
    font-weight: bold !important;
    margin-left: 8px;
}

.studioName {
    color: #666;
    font-size: 0.9rem;
}
